body {
    padding-left: 50px;
    text-align: justify;
    margin: 20px;
    padding: 20;
  }
  
  h1 {
    color: #333;
    text-align: justify;
  }
  
  h2 {
    color: #666;
    margin-top: 30px;
  }
  
  p {
    color: #555;
    margin-bottom: 10px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .container h2:first-child {
    margin-top: 0;
  }
  
  .container p:last-child {
    margin-bottom: 0;
  }