body {
    height: 100%;
    overflow: auto;
    font-family: Arial, sans-serif;
    text-align: justify;
    margin-left: 100px;
    padding: 20;
  }
  
  .tutorial-list {
      max-width: 600px;
      margin: 0 auto;
    }
    
    h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    li {
      margin-bottom: 30px;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    
    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    
    p {
      margin-bottom: 8px;
    }
    
    strong {
      font-weight: bold;
    }
    .redirectCoursePage {
      display: inline-block;
      padding: 12px 24px;
      font-size: 18px;
      border-radius: 5px;
      text-decoration: none;
      background-color: #007bff;
      color: #fff;
      transition: background-color 0.3s ease;
    }