body {
    height: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    font-family: Arial, sans-serif;
  }

  /* Style the headings and paragraphs */
  h1, h2, p {
    margin: 20px;
  }

  /* Style the ordered list */
  ol {
    text-align: justify;
    margin-left: 30px;
  }