body {
  height: 100vh;
  overflow: auto;
  font-family: Arial, sans-serif;
  text-align: justify;
  margin: 20px;
  padding: 20;
}
.about-container {
  text-align: justify;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

p::first-letter {
  font-size: 28px;
  font-weight: bold;
  color: #0b0329;
  float: inline-start;
  margin-right: 6px;
}

p::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #ddd;
  margin: 20px auto;
}
