.navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  .nav-link:hover {
    background-color: #555;
  }