<form class="contact-form" (ngSubmit)="submitForm()" #contactForm="ngForm">
  <mat-form-field>
    <input matInput placeholder="Name" name="name" [(ngModel)]="formData.name" required>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput placeholder="Email" name="email" [(ngModel)]="formData.email" required email>
  </mat-form-field>
  
  <mat-form-field>
    <textarea matInput placeholder="Message" name="message" [(ngModel)]="formData.message" required></textarea>
  </mat-form-field>
  
  <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.form.valid">Submit</button>
</form>
