<mat-toolbar color="primary">
  <span routerLink="/">CourseIT-US</span>
  <span class="example-spacer"></span>
  <div class="example-button-row">
    <button mat-fab extended color="accent" routerLink="/login">Login</button>
    <button mat-fab extended color="accent" routerLink="/singup">SignUp</button>
  </div>
</mat-toolbar>
<section>
  <div class="example-button-row">
    <button mat-raised-button routerLink="/">Home</button>
    <button mat-raised-button routerLink="/about">About</button>
    <button mat-raised-button routerLink="/contact">Contact</button>
    <button mat-raised-button routerLink="/services">Services</button>

    <button mat-raised-button [matMenuTriggerFor]="afterMenu">Cources</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item routerLink="/java">Java</button>
      <button mat-menu-item routerLink="/angular">Angular</button>
      <button mat-menu-item routerLink="/about">Phython</button>
      <button mat-menu-item routerLink="/about">C++</button>
    </mat-menu>
  </div>
</section>