.body {
  font-family: Arial, sans-serif;
  padding-left: 50px;
  text-align: justify;
  margin: 20px;
  padding: 20;
}
.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.content {
  background-size: cover;
}

.content h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content p {
  line-height: 1.5;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer .nav-links a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}

.footer .nav-links a:hover {
  text-decoration: underline;
}
.welcomeText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  height: 200px;

}
.home-container {
  width: 100%; 
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
  height: 500px;
  background-image: url('../../assets/image.jpg');
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}
